img,
picture {
    display: block; 
    height: auto; 
    max-width: 100%; /* Les images ne dépassent jamais la largeur disponible */
    width: 357px;
    border-radius: 19px;
}

figure {
    margin: 1.125rem 0; /* Suppression des marges horizontales */
}

.valeur__img {
    width: 357px;
    height: auto;
    display: block;
}

.hero__img {
    width: 100%; /* Prend toute la largeur disponible dans le conteneur */
    height: auto;
    display: block;
    /* Suppression des marges spécifiques car déjà gérées par le main */
}

/* Pour les images dans les carrousels */
.carrousel__1-image,
.introduction__link-icon,
.hero__image {
    width: 100%;
    height: auto;
    display: block;
}